/* RESET CSS */
body {
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Roboto", arial;
}

h1,
p {
  margin: 0;
}

.header-container,
footer {
  background-color: #1f2539;
}

/* HERO SECTION */

.header-container {
  display: flex;
  flex: auto;
  flex-direction: column;
  padding: 12px 142px;
}

header {
  display: flex;
  justify-content: space-between;
}

.header-logo img {
  width: 84px;
  height: 84px;
  border-radius: 8px;
}

.header-links a,
.hero-info p {
  font-size: 18px;
  color: #ffffffcf;
  font-weight: 100;
  text-decoration: none;
}

.header-links {
  display: flex;
  gap: 16px;
}

.hero {
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
  padding: 72px 0;
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-basis: 450px;
}

.hero-info p {
  margin-bottom: 12px;
}

.hero-image img {
  width: 500px;
  height: 380px;
  border-radius: 24px;
  object-fit: cover;
}

.hero-info h1 {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
}

.hero-button {
  max-width: 30%;
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: bold;
  border: none;
  padding: 12px 18px;
  border-radius: 12px;
  cursor: pointer;
}

/* DESCRIPTION SECTION */
.description {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 36px;
}

.description-image img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

/* QUOTE SECTION */
.quote {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: center;
  padding: 32px 64px;
  background-color: #e5e7eb;
}

.quote p {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  color: #1f2937;
}

/* CTA SECTION */
.cta {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #3882f6;
  margin: 0 200px;
  padding: 24px 80px;
  border-radius: 8px;
}

.cta-info h3 {
  color: #fff;
  margin-bottom: 3px;
}

.cta-info p {
  color: #e5e7eb;
}

.cta-button button {
  color: #fff;
  background-color: inherit;
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 8px 32px;
  cursor: pointer;
}

/* FOOTER SECTION */
footer {
  text-align: center;
  color: #e5e7eb;
  padding: 12px 0;
}
